<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Swagger</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/swagger-ui/swagger-ui.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/swagger-ui/index.css")"/>
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/swagger-ui/favicon-32x32.png")" sizes="32x32"/>
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("lib/swagger-ui/favicon-16x16.png")" sizes="16x16"/>
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="@routes.Assets.versioned("lib/swagger-ui/swagger-ui-bundle.js")" charset="UTF-8"></script>
        <script src="@routes.Assets.versioned("lib/swagger-ui/swagger-ui-standalone-preset.js")" charset="UTF-8"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
